<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>글 펀딩 목록</title>
        <link rel="stylesheet" href="/css/text/funding-list.css" />
    </head>
    <body>
        <div class="main-header">
            <div class="container">
                <a class="sub-navigation" href="">
                    <div>작품</div>
                </a>
                <a class="sub-navigation" href="">
                    <div>펀딩</div>
                </a>
                <a class="sub-navigation" href="">
                    <div>모집</div>
                </a>
            </div>
        </div>
        <div class="main">
            <div class="container">
                <div class="content-wrapper">
                    <div class="list">
                        <div class="list-header">
                            <div class="text-ggumteo">꿈터 글 펀딩</div>
                            <div class="title-header">
                                <div class="title-2">
                                    꿈터에서 진행한 글 펀딩 목록
                                </div>
                                <div>
                                    <div class="text-input-ggumteo icon-right">
                                        <div>
                                            <input type="hidden" id="genreType" th:value="${genreType}"/>
                                            <input
                                                    type="text"
                                                    class="theme-ggumteo search-input"
                                                    id="searchKeyword"
                                                    th:value="${keyword}"
                                                    placeholder="원하는 작품을 찾아보세요"
                                            />
                                            <i class="search-btn" onclick="searchWorks()">
                                                <img
                                                        src="https://www.wishket.com/static/renewal/img/stack/icon-search.png"
                                                />
                                            </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filter-box-wrapper">
                            <div class="filter-group-wrapper">
                                <div class="filter-group">
                                    <div class="filter-box-group">
                                        <a href="/text/funding/list?genreType=romance&postType=TEXT" class="filter-box">로맨스</a>
                                    </div>
                                    <div class="filter-box-group">
                                        <a href="/text/funding/list?genreType=comedy&postType=TEXT" class="filter-box">코미디</a>
                                    </div>
                                    <div class="filter-box-group">
                                        <a href="/text/funding/list?genreType=horror&postType=TEXT" class="filter-box">공포</a>
                                    </div>
                                    <div class="filter-box-group">
                                        <a href="/text/funding/list?genreType=action&postType=TEXT" class="filter-box">액션</a>
                                    </div>
                                    <div class="filter-box-group">
                                        <a href="/text/funding/list?genreType=drama&postType=TEXT" class="filter-box">드라마</a>
                                    </div>
                                    <div class="box-group">
                                        <div class="write-box">
                                            <a href="/text/funding/write" style="color: inherit; text-decoration: none;">펀딩글 올리기</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ggumteo-list-box">
                            <div class="list-box-wrapper">
                                <li th:each="funding : ${fundings}" style="width: 213px">
                                    <a th:href="@{/text/funding/detail/{id}(id=${funding.id})}" class="box">
                                        <!-- 썸네일 이미지 -->
                                        <img id="thumbnail-image" th:src="@{/text/funding/display(fileName=${funding.thumbnailFilePath})}" class="thumbnail" alt="썸네일 이미지" />

                                        <!-- 펀딩 상태 -->
                                        <div class="funding-status-div">
                                            <div style="display: flex">
                                                <div th:if="${funding.fundingStatus == '펀딩 중'}" class="funding-status">
                                                    펀딩중
                                                </div>
                                                <div th:if="${funding.fundingStatus == '펀딩 완료'}" class="funding-status-end">
                                                    펀딩완료
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 타이틀 -->
                                        <div class="title" th:text="${funding.postTitle}">글의 타이틀</div>

                                        <!-- 장르, 업로드 시간 -->
                                        <div class="detail category">
                                            <span th:text="${funding.genreType}">글 장르</span>
                                            <img src="https://yozm.wishket.com/static/renewal/img/news/icon-clock.png" class="content-meta-elem meta-icon" />
                                            <span class="upload-time" th:text="${funding.createdDate.substring(0, 10)}">2024.10.26</span>
                                        </div>

                                        <!-- 글의 간단한 요약 -->
                                        <div class="content" th:text="${funding.postContent}">글의 간단한 요약</div>

                                        <!-- 펀딩 진행률, 작성자 정보 -->
                                        <div class="detail funding-persent">
                                            <div class="funding-box">
                                                <span class="funding-score" th:text="${funding.fundingPercentage + '%'}">0%</span>
                                            </div>
                                            <div class="detail-seperator"></div>
                                            <div class="partner-profile-box">
                                                <img th:src="${funding.profileImgUrl}" class="partner-profile" alt="프로필 이미지"/>
                                            </div>
                                            <div class="partner-name-box" th:text="${funding.profileNickname}">홍길동</div>
                                        </div>
                                    </a>
                                </li>
                            </div>
                            <!-- 페이지네이션박스 -->
                            <div class="center-text pagination-box">
                                <ul class="pagination theme-ggumteo">
                                    <!-- 이전 버튼 -->
                                    <li th:classappend="${!pagination.prev} ? 'disabled'">
                                        <a class="page-link" th:if="${pagination.prev}"
                                           th:href="@{/text/funding/list(page=${pagination.startPage - 1}, genreType=${param.genreType}, postType=${param.postType}, keyword=${param.keyword})}">이전</a>
                                        <span th:unless="${pagination.prev}"></span>
                                    </li>

                                    <!-- 페이지 번호 -->
                                    <li th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}"
                                        th:class="${pagination.page == i} ? 'page-item active' : 'page-item'">
                                        <a class="page-link" th:href="@{/text/funding/list(page=${i}, genreType=${param.genreType}, postType=${param.postType}, keyword=${param.keyword})}" th:text="${i}"></a>
                                    </li>

                                    <!-- 다음 버튼 -->
                                    <li th:classappend="${!pagination.next} ? 'disabled'">
                                        <a class="page-link" th:if="${pagination.next}"
                                           th:href="@{/text/funding/list(page=${pagination.endPage + 1}, genreType=${param.genreType}, postType=${param.postType}, keyword=${param.keyword})}">다음</a>
                                        <span th:unless="${pagination.next}"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/js/text/funding-list.js"></script>
</html>
