<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.app.ggumteo.domain.member.MemberVO" alias="memberVO"/>
        <typeAlias type="com.app.ggumteo.domain.member.MemberDTO" alias="memberDTO"/>
        <typeAlias type="com.app.ggumteo.domain.admin.AdminVO" alias="adminVO"/>
        <typeAlias type="com.app.ggumteo.domain.admin.AdminDTO" alias="adminDTO"/>
        <typeAlias type="com.app.ggumteo.domain.post.PostVO" alias="postVO"/>
        <typeAlias type="com.app.ggumteo.domain.post.PostDTO" alias="postDTO"/>
        <typeAlias type="com.app.ggumteo.domain.inquiry.InquiryVO" alias="inquiryVO"/>
        <typeAlias type="com.app.ggumteo.domain.inquiry.InquiryDTO" alias="inquiryDTO"/>
        <typeAlias type="com.app.ggumteo.domain.funding.FundingDTO" alias="fundingDTO"/>
        <typeAlias type="com.app.ggumteo.domain.work.WorkVO" alias="workVO"/>
        <typeAlias type="com.app.ggumteo.domain.work.WorkDTO" alias="workDTO"/>
    </typeAliases>

</configuration>