<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.app.ggumteo.domain.member.MemberVO" alias="memberVO"/>
        <typeAlias type="com.app.ggumteo.domain.member.MemberDTO" alias="memberDTO"/>
        <typeAlias type="com.app.ggumteo.domain.admin.AdminVO" alias="adminVO"/>
        <typeAlias type="com.app.ggumteo.domain.admin.AdminDTO" alias="adminDTO"/>
        <typeAlias type="com.app.ggumteo.domain.post.PostVO" alias="postVO"/>
        <typeAlias type="com.app.ggumteo.domain.post.PostDTO" alias="postDTO"/>
        <typeAlias type="com.app.ggumteo.domain.inquiry.InquiryVO" alias="inquiryVO"/>
        <typeAlias type="com.app.ggumteo.domain.inquiry.InquiryDTO" alias="inquiryDTO"/>
        <typeAlias type="com.app.ggumteo.domain.funding.FundingProductVO" alias="fundingProductVO"/>
        <typeAlias type="com.app.ggumteo.domain.funding.FundingVO" alias="fundingVO"/>
        <typeAlias type="com.app.ggumteo.domain.funding.FundingDTO" alias="fundingDTO"/>
        <typeAlias type="com.app.ggumteo.domain.work.WorkVO" alias="workVO"/>
        <typeAlias type="com.app.ggumteo.domain.reply.ReplyVO" alias="replyVO"/>
        <typeAlias type="com.app.ggumteo.domain.reply.ReplyListDTO" alias="replyListDTO"/>
        <typeAlias type="com.app.ggumteo.domain.reply.ReplyDTO" alias="replyDTO"/>
        <typeAlias type="com.app.ggumteo.domain.work.WorkDTO" alias="workDTO"/>
        <typeAlias type="com.app.ggumteo.domain.file.FileVO" alias="fileVO"/>
        <typeAlias type="com.app.ggumteo.domain.buy.BuyWorkVO" alias="buyWorkVO"/>
        <typeAlias type="com.app.ggumteo.domain.buy.BuyWorkDTO" alias="buyWorkDTO"/>
        <typeAlias type="com.app.ggumteo.domain.file.PostFileVO" alias="postFileVO"/>
        <typeAlias type="com.app.ggumteo.domain.file.PostFileDTO" alias="postFileDTO"/>
        <typeAlias type="com.app.ggumteo.domain.audition.AuditionDTO" alias="auditionDTO"/>
        <typeAlias type="com.app.ggumteo.domain.member.MemberProfileVO" alias="memberProfileVO"/>
        <typeAlias type="com.app.ggumteo.domain.member.MemberProfileDTO" alias="memberProfileDTO"/>
        <typeAlias type="com.app.ggumteo.domain.admin.AnnouncementVO" alias="announcementVO"/>
        <typeAlias type="com.app.ggumteo.domain.admin.AnnouncementDTO" alias="announcementDTO"/>
        <typeAlias type="com.app.ggumteo.domain.funding.BuyFundingProductDTO" alias="buyFundingProductDTO"/>
        <typeAlias type="com.app.ggumteo.domain.report.WorkReportDTO" alias="workReportDTO"/>
        <typeAlias type="com.app.ggumteo.domain.audition.AuditionApplicationDTO" alias="auditionApplicationDTO"/>
        <typeAlias type="com.app.ggumteo.domain.audition.AuditionApplicationVO" alias="auditionApplicationVO"/>
        <typeAlias type="com.app.ggumteo.domain.notification.ApplyAuditionNotificationVO" alias="applyAuditionNotificationVO"/>
        <typeAlias type="com.app.ggumteo.domain.file.AuditionApplicationFileVO" alias="auditionApplicationFileVO"/>
        <typeAlias type="com.app.ggumteo.domain.file.AuditionApplicationFileDTO" alias="auditionApplicationFileDTO"/>
    </typeAliases>

</configuration>