<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>글 작품 목록</title>
        <link rel="stylesheet" href="/css/text/list.css" />
    </head>
    <body>
        <div class="main-header">
            <div class="container">
                <a class="sub-navigation" href="">
                    <div>작품</div>
                </a>
                <a class="sub-navigation" href="">
                    <div>펀딩</div>
                </a>
                <a class="sub-navigation" href="">
                    <div>모집</div>
                </a>
            </div>
        </div>
        <div class="main">
            <div class="container">
                <div class="content-wrapper">
                    <div class="list">
                        <div class="list-header">
                            <div class="text-ggumteo">꿈터 글 작품</div>
                            <div class="title-header">
                                <div class="title-2">
                                    꿈터에서 진행한 글 작품 목록
                                </div>
                                <div>
                                    <div class="text-input-ggumteo icon-right">
                                        <div>
                                            <input type="hidden" id="genreType" th:value="${genreType}"/>
                                            <input
                                                    type="text"
                                                    class="theme-ggumteo search-input"
                                                    id="searchKeyword"
                                                    th:value="${keyword}"
                                                    placeholder="원하는 작품을 찾아보세요"
                                            />
                                            <i class="search-btn" onclick="searchWorks()">
                                                <img
                                                        src="https://www.wishket.com/static/renewal/img/stack/icon-search.png"
                                                />
                                            </i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filter-box-wrapper">
                            <div class="filter-group-wrapper">
                                <div class="filter-group">
                                    <div class="filter-box-group">
                                        <a href="/text/list?genreType=romance&postType=TEXT" class="filter-box">로맨스</a>
                                    </div>
                                    <div class="filter-box-group">
                                        <a href="/text/list?genreType=comedy&postType=TEXT" class="filter-box">코미디</a>
                                    </div>
                                    <div class="filter-box-group">
                                        <a href="/text/list?genreType=horror&postType=TEXT" class="filter-box">공포</a>
                                    </div>
                                    <div class="filter-box-group">
                                        <a href="/text/list?genreType=action&postType=TEXT" class="filter-box">액션</a>
                                    </div>
                                    <div class="filter-box-group">
                                        <a href="/text/list?genreType=drama&postType=TEXT" class="filter-box">드라마</a>
                                    </div>
                                    <div class="box-group">
                                        <div class="write-box">
                                            <a href="/text/write" style="color: inherit; text-decoration: none;">내 작품올리기</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="ggumteo-list-box">
                            <div class="list-box-wrapper">
                                <li th:each="work : ${works}" style="width: 213px">
                                    <a th:href="@{/text/detail/{id}(id=${work.id})}"  class="box">
                                        <img th:src="@{/text/display(fileName=${work.thumbnailFilePath})}" class="thumbnail" alt="썸네일 이미지" />
                                        <div class="title" style="width: 180px" th:text="${work.postTitle}"></div>
                                        <div class="detail">
                                            <span th:text="${work.genreType}"></span>
                                            <img
                                                    src="https://yozm.wishket.com/static/renewal/img/news/icon-clock.png"
                                                    class="content-meta-elem meta-icon"
                                            />
                                            <span style="margin-right: 40px" th:text="${work.createdDate.substring(0, 10)}"></span>
                                        </div>
                                        <div class="content" th:text="${work.postContent}">글의 간단한 요약</div>
                                        <div class="detail review">
                                            <div class="review-box">
                                                <div class="star-box">
                                                    <img
                                                            src="https://www.wishket.com/static/renewal/img/project/wishket-project-portfolio/icon-review-star-full.png"
                                                    />
                                                </div>
                                                <span class="review-score" th:text="${work.star}">5.0</span>
                                            </div>
                                            <div class="portfolio-detail-seperator"></div>
                                            <div class="partner-profile-box">
                                                <img
                                                        th:src="${work.profileImgUrl}"
                                                        class="partner-profile"
                                                />
                                            </div>
                                            <div class="name-box" th:text="${work.profileNickName}"></div>
                                            <div></div>
                                        </div>
                                    </a>
                                </li>
                            </div>


                            <div class="center-text pagination-box">
                                <ul class="pagination theme-ggumteo">
                                    <!-- 이전 버튼 -->
                                    <li th:classappend="${!pagination.prev} ? 'disabled'">
                                        <a class="page-link" th:if="${pagination.prev}"
                                           th:href="@{/text/list(page=${pagination.startPage - 5}, genreType=${genreType}, keyword=${keyword}, postType=${postType})}">이전</a>
                                        <span th:unless="${pagination.prev}"></span>
                                    </li>

                                    <!-- 페이지 번호 -->
                                    <li th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}"
                                        th:class="${pagination.page == i} ? 'page-item active' : 'page-item'">
                                        <a class="page-link" th:href="@{/text/list(page=${i}, genreType=${genreType}, keyword=${keyword}, postType=${postType})}" th:text="${i}"></a>
                                    </li>

                                    <!-- 다음 버튼 -->
                                    <li th:classappend="${!pagination.next} ? 'disabled'">
                                        <a class="page-link" th:if="${pagination.next}"
                                           th:href="@{/text/list(page=${pagination.endPage + 5}, genreType=${genreType}, keyword=${keyword}, postType=${postType})}">다음</a>
                                        <span th:unless="${pagination.next}"></span>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="/js/text/list.js"></script>
</html>