<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>글 메인</title>
        <link rel="stylesheet" href="/css/text/main.css" />
    </head>
    <body>
        <div class="main-header">
            <div class="container">
                <a class="sub-navigation" th:href="@{/text/list}">
                    <div>작품</div>
                </a>
                <a class="sub-navigation" th:href="@{/text/funding/list}">
                    <div>펀딩</div>
                </a>
                <a class="sub-navigation" th:href="@{/audition/text/list}">
                    <div>모집</div>
                </a>
            </div>
        </div>
        <div class="layout">
            <div class="main-div">
                <div class="container">
                    <p class="ggumteo-content">
                        글 중 가장
                        <br />
                        <span class="guide-point-word"> 인기 많은 작품 </span>
                    </p>
                </div>
            </div>
            <div class="container">
                <section class="items">
                    <div class="main-card">
                        <div class="card-item-link">
                            <div class="card-item">
                                <div class="card-thumbnail">
                                    <img
                                        class="card-image"
                                        th:src="@{'/display?fileName=' + ${mostReadTextWork.thumbnailFilePath} + '/'+ ${mostReadTextWork.thumbnailFileName}}"
                                    />
                                </div>
                                <div class="card-main">
                                    <div class="flex-box">
                                        <a
                                                class="card-category content-meta-elem link-text link-underline"
                                                th:text="${mostReadTextWork.genreType}"
                                                th:href="@{'/text/detail/' + ${mostReadTextWork.id}}"
                                        >
                                            코미디
                                        </a>
                                        <div class="review-box">
                                            <div class="star-box">
                                                <img
                                                    src="https://www.wishket.com/static/renewal/img/project/wishket-project-portfolio/icon-review-star-full.png"
                                                />
                                            </div>
                                            <span class="review-score" th:text="${mostReadTextWork.averageRating}"
                                                ></span
                                            >
                                        </div>
                                    </div>
                                    <h3 class="card-main-h3">
                                        <a
                                            class="card-title link-text link-underline popular-work-title"
                                            th:href="@{'/text/detail/' + ${mostReadTextWork.id}}"
                                            th:text="${mostReadTextWork.postTitle}"
                                        >
                                        </a>
                                    </h3>
                                    <div class="content-meta flex-box">
                                        <img
                                            src="https://yozm.wishket.com/static/renewal/img/news/icon-clock.png"
                                            class="content-meta-elem meta-icon"
                                        />
                                        <div class="popular-work-time" th:text="${mostReadTextWork.createdDate.substring(0, 10)}">
                                            2024.10.26
                                        </div>
                                    </div>
                                    <a th:href="@{'/text/detail/' + ${mostReadTextWork.id}}">
                                        <p
                                            class="card-description popular-work-content"
                                            th:text="${mostReadTextWork.postContent}"
                                        >
                                        </p>
                                    </a>
                                    <div class="author-info flex-box">
                                        <img
                                                th:src="@{${mostReadTextWork.profileImgUrl}}"
                                            class="author-image"
                                        />
                                        <p class="author-name">
                                            <a
                                                class="link-underline-text popular-work-person"
                                                th:text="${mostReadTextWork.profileName}"
                                            >
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sub-list">
                        <div class="card-category">
                            <div class="guide-point-word recent-person-div">
                                최근 모집공고
                            </div>
                        </div>
                        <div th:each="audition : ${latestTextAuditions}">
                            <div class="card-item-link">
                                <div class="sub-card">
                                    <div class="card-main">
                                        <h3 class="card-main-h3">
                                            <a
                                                    th:href="@{'/audition/text/detail/' + ${audition.id}}"
                                                    class="subtitle-2-medium person-card-title link-text link-underline"
                                                    th:text="${audition.postTitle}"
                                            ></a>
                                        </h3>
                                        <div class="content-meta flex-box">
                                            <img
                                                    src="https://yozm.wishket.com/static/renewal/img/news/icon-clock.png"
                                                    class="content-meta-elem meta-icon recent-person-img"
                                            />
                                            <div class="author-time" th:text="${audition.createdDate.substring(0, 10)}"></div>
                                        </div>
                                        <a th:href="@{'/audition/text/detail/' + ${audition.id}}">
                                            <p class="person-card-description" th:text="${audition.postContent}"></p>
                                        </a>
                                        <div class="author-info flex-box">
                                            <img
                                                    th:src="@{${audition.profileImgUrl}}"
                                                    class="author-image"
                                            />
                                            <p class="author-name">
                                                <a
                                                        class="link-underline-text recent-person"
                                                        th:text="${audition.profileName}"
                                                        href=""
                                                ></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="guide-section main-page">
                <div class="container">
                    <div class="guide-main-contents">
                        <img
                            src="/images/video/funding.png"
                            class="funding-guide-img"
                        />
                        <div class="funding-guide">
                            <div>
                                <p>회원님을 위한 다양한 콘텐츠,&nbsp;</p>
                                <p>함께 참여하고 싶다면?</p>
                            </div>
                            <p>
                                <span>꿈터에서 펀딩</span>
                                을 진행 해보세요 !
                            </p>
                        </div>
                        <div class="funding-button-box">
                            <button id="fundingButton">펀딩 하러가기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="main-list other-list">
                    <div class="main-list-title flex-box">
                        <div class="popular-funding">인기 있는 펀딩 콘텐츠</div>
                    </div>
                    <div class="main-list-row">
                        <div
                            class="list-item-link other-list popular-funding-list" th:each="funding : ${topTextFunding}"
                        >
                            <div class="list-item card-grid">
                                <div class="list-item-thumbnail">
                                    <a th:href="@{'/text/funding/detail/' + ${funding.id}}">
                                        <img
                                                th:src="@{'/display?fileName=' + ${funding.thumbnailFilePath} + '/'+ ${funding.thumbnailFileName}}"
                                            class="thumbnail-image"
                                        />
                                    </a>
                                </div>
                                <div class="item-main">
                                    <h3 class="item-main-h3">
                                        <a th:href="@{'/text/funding/detail/' + ${funding.id}}"
                                            class="item-title link-text link-underline popular-funding-title"
                                            th:text="${funding.postTitle}"
                                        >
                                        </a>
                                    </h3>
                                    <div class="content-meta flex-box">
                                        <img
                                            src="https://yozm.wishket.com/static/renewal/img/news/icon-clock.png"
                                            class="content-meta-elem meta-icon"
                                        />

                                        <div
                                            class="content-meta-elem popular-funding-before-time"
                                            th:text="${funding.createdDate.substring(0,10)}"
                                        >
                                        </div>
                                        <div
                                            class="content-meta-elem content-meta-sep"
                                        >
                                            |
                                        </div>
                                        <img
                                            src="https://yozm.wishket.com/static/renewal/img/news/icon-popularity.png"
                                            class="content-meta-elem meta-icon"
                                        />
                                        <div class="popular-funding-text">
                                            <span class="funding-persent" th:text="${funding.fundingPercentage}"
                                                ></span
                                            >% 달성
                                        </div>
                                    </div>
                                    <a th:href="@{'/text/funding/detail/' + ${funding.id}}">
                                        <p
                                            class="list-item-description popular-funding-content"
                                            th:text="${funding.postContent}"
                                        >
                                        </p>
                                    </a>
                                    <div class="author-info flex-box">
                                        <img
                                                th:src="@{${funding.profileImgUrl}}"
                                            class="author-image popular-funding-writer-img"
                                        />
                                        <p class="author-name">
                                            <a
                                                class="link-underline-text popular-funding-writer"
                                                th:text="${funding.profileName}"
                                                ></a
                                            >
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/js/text/main.js"></script>
</html>
