<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/search.css" />
        <title>통합검색</title>
    </head>
    <body>
        <div class="layout">
            <div class="container">
                <div class="search-title">
                    <div class="search-result">
                        <h2 class="search-result-input">‘ai’</h2>
                        <h2 class="search-result-title">에 대한 검색 결과</h2>
                    </div>
                </div>
                <!-- 메인쪽 -->
                <div class="btn-content-align">
                    <button class="search-video active" type="button">
                        영상
                    </button>
                    <button class="search-text" type="button">글</button>
                </div>
                <div class="list-cover video">
                    <div class="search-result-count">
                        영상 <span class="count-color">1,041</span>
                    </div>
                    <div class="search-list-item">
                        <div class="list-item">
                            <div class="genre">
                                <a href="" class="list-item-category"> 작품 </a>
                            </div>
                            <div class="search-list-item-box">
                                <div class="item-main">
                                    <a href="" class="item-title"> 검색제목 </a>
                                    <div class="content-time">
                                        <img
                                            src="https://yozm.wishket.com/static/renewal/img/news/icon-clock.png"
                                            class="time-icon"
                                        />
                                        <div class="time">올린시간</div>
                                    </div>
                                    <a href="">
                                        <p class="item-content">
                                            검색결과 내용기존에 사용하던
                                            서비스는 물론, 새롭게 등장하는
                                            서비스에서 빼놓을 수 없는 기능이자
                                            주제는 바로 AI입니다. 그만큼 거대한
                                            흐름이 되었고 이를 잘 활용하지
                                            못하는 서비스는 뒤처진다는 인상을 줄
                                            수 있죠. 또한 사용자 경험에도 중요한
                                            영향을 끼칩니다. 그러나 너무 많은
                                            서비스와 기능이 쏟아져 나오면서,
                                            최근에는 AI가 적용된 서비스에서 UX
                                            패턴을 어떻게 적용하면 좋을지에 대한
                                            논의도 활발한데요. 오늘 소개할
                                            ‘Shape of AI’는 AI의 성장에 따라
                                            사용자 경험은 어떤 영향을 받고
                                            있으며, 어떻게 대응하면 좋을지
                                            살펴볼 수 있는 서비스입니다.
                                        </p>
                                    </a>
                                </div>
                                <!-- 이미지 없으면 빈칸 -->
                                <div class="search-upload-img">
                                    <img
                                        src="https://yozm.wishket.com/media/news/2789/shapeofai.png"
                                        class="upload-img"
                                    />
                                </div>
                            </div>
                            <div class="author-box">
                                <div class="author-info">
                                    <img
                                        src="https://cdn.wishket.com/news_profiles/80513_20230718_2bcfacbf16d5d1a2.jpg"
                                        class="author-image"
                                    />
                                    <p class="author-name">
                                        <a href="" class="author-name-a"
                                            >작성자명</a
                                        >
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="search-list-item">
                        <div class="list-item">
                            <div class="genre">
                                <a href="" class="list-item-category">펀딩 </a>
                            </div>
                            <div class="search-list-item-box">
                                <div class="item-main">
                                    <a href="" class="item-title"> 검색제목 </a>
                                    <div class="content-time">
                                        <img
                                            src="https://yozm.wishket.com/static/renewal/img/news/icon-clock.png"
                                            class="time-icon"
                                        />
                                        <div class="time">올린시간</div>
                                    </div>
                                    <a href="">
                                        <p class="item-content">
                                            검색결과 내용기존에 사용하던
                                            서비스는 물론, 새롭게 등장하는
                                            서비스에서 빼놓을 수 없는 기능이자
                                            주제는 바로 AI입니다. 그만큼 거대한
                                            흐름이 되었고 이를 잘 활용하지
                                            못하는 서비스는 뒤처진다는 인상을 줄
                                            수 있죠. 또한 사용자 경험에도 중요한
                                            영향을 끼칩니다. 그러나 너무 많은
                                            서비스와 기능이 쏟아져 나오면서,
                                            최근에는 AI가 적용된 서비스에서 UX
                                            패턴을 어떻게 적용하면 좋을지에 대한
                                            논의도 활발한데요. 오늘 소개할
                                            ‘Shape of AI’는 AI의 성장에 따라
                                            사용자 경험은 어떤 영향을 받고
                                            있으며, 어떻게 대응하면 좋을지
                                            살펴볼 수 있는 서비스입니다.
                                        </p>
                                    </a>
                                </div>
                                <!-- 이미지 없으면 빈칸 -->
                                <div class="search-upload-img">
                                    <img
                                        src="https://yozm.wishket.com/media/news/2789/shapeofai.png"
                                        class="upload-img"
                                    />
                                </div>
                            </div>
                            <div class="author-box">
                                <div class="author-info">
                                    <img
                                        src="https://cdn.wishket.com/news_profiles/80513_20230718_2bcfacbf16d5d1a2.jpg"
                                        class="author-image"
                                    />
                                    <p class="author-name">
                                        <a href="" class="author-name-a"
                                            >작성자명</a
                                        >
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="search-list-item">
                        <div class="list-item">
                            <div class="genre">
                                <a href="" class="list-item-category">모집 </a>
                            </div>
                            <div class="search-list-item-box">
                                <div class="item-main">
                                    <a href="" class="item-title"> 검색제목 </a>
                                    <div class="content-time">
                                        <img
                                            src="https://yozm.wishket.com/static/renewal/img/news/icon-clock.png"
                                            class="time-icon"
                                        />
                                        <div class="time">올린시간</div>
                                    </div>
                                    <a href="">
                                        <p class="item-content">
                                            검색결과 내용기존에 사용하던
                                            서비스는 물론, 새롭게 등장하는
                                            서비스에서 빼놓을 수 없는 기능이자
                                            주제는 바로 AI입니다. 그만큼 거대한
                                            흐름이 되었고 이를 잘 활용하지
                                            못하는 서비스는 뒤처진다는 인상을 줄
                                            수 있죠. 또한 사용자 경험에도 중요한
                                            영향을 끼칩니다. 그러나 너무 많은
                                            서비스와 기능이 쏟아져 나오면서,
                                            최근에는 AI가 적용된 서비스에서 UX
                                            패턴을 어떻게 적용하면 좋을지에 대한
                                            논의도 활발한데요. 오늘 소개할
                                            ‘Shape of AI’는 AI의 성장에 따라
                                            사용자 경험은 어떤 영향을 받고
                                            있으며, 어떻게 대응하면 좋을지
                                            살펴볼 수 있는 서비스입니다.
                                        </p>
                                    </a>
                                </div>
                                <!-- 이미지 없으면 빈칸 -->
                                <div class="search-upload-img">
                                    <img
                                        src="https://yozm.wishket.com/media/news/2789/shapeofai.png"
                                        class="upload-img"
                                    />
                                </div>
                            </div>
                            <div class="author-box">
                                <div class="author-info">
                                    <img
                                        src="https://cdn.wishket.com/news_profiles/80513_20230718_2bcfacbf16d5d1a2.jpg"
                                        class="author-image"
                                    />
                                    <p class="author-name">
                                        <a href="" class="author-name-a"
                                            >작성자명</a
                                        >
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-cover text">
                    <div class="search-result-count">
                        글 <span class="count-color">1,041</span>
                    </div>
                    <div class="search-list-item">
                        <div class="list-item">
                            <div class="genre">
                                <a href="" class="list-item-category"> 작품 </a>
                            </div>
                            <div class="search-list-item-box">
                                <div class="item-main">
                                    <a href="" class="item-title"> 검색제목 </a>
                                    <div class="content-time">
                                        <img
                                            src="https://yozm.wishket.com/static/renewal/img/news/icon-clock.png"
                                            class="time-icon"
                                        />
                                        <div class="time">올린시간</div>
                                    </div>
                                    <a href="">
                                        <p class="item-content">
                                            검색결과 내용기존에 사용하던
                                            서비스는 물론, 새롭게 등장하는
                                            서비스에서 빼놓을 수 없는 기능이자
                                            주제는 바로 AI입니다. 그만큼 거대한
                                            흐름이 되었고 이를 잘 활용하지
                                            못하는 서비스는 뒤처진다는 인상을 줄
                                            수 있죠. 또한 사용자 경험에도 중요한
                                            영향을 끼칩니다. 그러나 너무 많은
                                            서비스와 기능이 쏟아져 나오면서,
                                            최근에는 AI가 적용된 서비스에서 UX
                                            패턴을 어떻게 적용하면 좋을지에 대한
                                            논의도 활발한데요. 오늘 소개할
                                            ‘Shape of AI’는 AI의 성장에 따라
                                            사용자 경험은 어떤 영향을 받고
                                            있으며, 어떻게 대응하면 좋을지
                                            살펴볼 수 있는 서비스입니다.
                                        </p>
                                    </a>
                                </div>
                                <!-- 이미지 없으면 빈칸 -->
                                <div class="search-upload-img">
                                    <img
                                        src="https://yozm.wishket.com/media/news/2789/shapeofai.png"
                                        class="upload-img"
                                    />
                                </div>
                            </div>
                            <div class="author-box">
                                <div class="author-info">
                                    <img
                                        src="https://cdn.wishket.com/news_profiles/80513_20230718_2bcfacbf16d5d1a2.jpg"
                                        class="author-image"
                                    />
                                    <p class="author-name">
                                        <a href="" class="author-name-a"
                                            >작성자명</a
                                        >
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="search-list-item">
                        <div class="list-item">
                            <div class="genre">
                                <a href="" class="list-item-category">펀딩 </a>
                            </div>
                            <div class="search-list-item-box">
                                <div class="item-main">
                                    <a href="" class="item-title"> 검색제목 </a>
                                    <div class="content-time">
                                        <img
                                            src="https://yozm.wishket.com/static/renewal/img/news/icon-clock.png"
                                            class="time-icon"
                                        />
                                        <div class="time">올린시간</div>
                                    </div>
                                    <a href="">
                                        <p class="item-content">
                                            검색결과 내용기존에 사용하던
                                            서비스는 물론, 새롭게 등장하는
                                            서비스에서 빼놓을 수 없는 기능이자
                                            주제는 바로 AI입니다. 그만큼 거대한
                                            흐름이 되었고 이를 잘 활용하지
                                            못하는 서비스는 뒤처진다는 인상을 줄
                                            수 있죠. 또한 사용자 경험에도 중요한
                                            영향을 끼칩니다. 그러나 너무 많은
                                            서비스와 기능이 쏟아져 나오면서,
                                            최근에는 AI가 적용된 서비스에서 UX
                                            패턴을 어떻게 적용하면 좋을지에 대한
                                            논의도 활발한데요. 오늘 소개할
                                            ‘Shape of AI’는 AI의 성장에 따라
                                            사용자 경험은 어떤 영향을 받고
                                            있으며, 어떻게 대응하면 좋을지
                                            살펴볼 수 있는 서비스입니다.
                                        </p>
                                    </a>
                                </div>
                                <!-- 이미지 없으면 빈칸 -->
                                <div class="search-upload-img">
                                    <img
                                        src="https://yozm.wishket.com/media/news/2789/shapeofai.png"
                                        class="upload-img"
                                    />
                                </div>
                            </div>
                            <div class="author-box">
                                <div class="author-info">
                                    <img
                                        src="https://cdn.wishket.com/news_profiles/80513_20230718_2bcfacbf16d5d1a2.jpg"
                                        class="author-image"
                                    />
                                    <p class="author-name">
                                        <a href="" class="author-name-a"
                                            >작성자명</a
                                        >
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="search-list-item">
                        <div class="list-item">
                            <div class="genre">
                                <a href="" class="list-item-category">모집 </a>
                            </div>
                            <div class="search-list-item-box">
                                <div class="item-main">
                                    <a href="" class="item-title"> 검색제목 </a>
                                    <div class="content-time">
                                        <img
                                            src="https://yozm.wishket.com/static/renewal/img/news/icon-clock.png"
                                            class="time-icon"
                                        />
                                        <div class="time">올린시간</div>
                                    </div>
                                    <a href="">
                                        <p class="item-content">
                                            검색결과 내용기존에 사용하던
                                            서비스는 물론, 새롭게 등장하는
                                            서비스에서 빼놓을 수 없는 기능이자
                                            주제는 바로 AI입니다. 그만큼 거대한
                                            흐름이 되었고 이를 잘 활용하지
                                            못하는 서비스는 뒤처진다는 인상을 줄
                                            수 있죠. 또한 사용자 경험에도 중요한
                                            영향을 끼칩니다. 그러나 너무 많은
                                            서비스와 기능이 쏟아져 나오면서,
                                            최근에는 AI가 적용된 서비스에서 UX
                                            패턴을 어떻게 적용하면 좋을지에 대한
                                            논의도 활발한데요. 오늘 소개할
                                            ‘Shape of AI’는 AI의 성장에 따라
                                            사용자 경험은 어떤 영향을 받고
                                            있으며, 어떻게 대응하면 좋을지
                                            살펴볼 수 있는 서비스입니다.
                                        </p>
                                    </a>
                                </div>
                                <!-- 이미지 없으면 빈칸 -->
                                <div class="search-upload-img">
                                    <img
                                        src="https://yozm.wishket.com/media/news/2789/shapeofai.png"
                                        class="upload-img"
                                    />
                                </div>
                            </div>
                            <div class="author-box">
                                <div class="author-info">
                                    <img
                                        src="https://cdn.wishket.com/news_profiles/80513_20230718_2bcfacbf16d5d1a2.jpg"
                                        class="author-image"
                                    />
                                    <p class="author-name">
                                        <a href="" class="author-name-a"
                                            >작성자명</a
                                        >
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/static/js/main/search.js"></script>
</html>
