<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!--        <link rel="stylesheet" href="/css/member/video-header.css" />-->
        <title>마이페이지 영상 헤더</title>
    </head>
    <body>
        <header th:fragment="my-page-header" class="header my-page-header">
            <section class="base-nav-client-renewal">
                <div class="container">
                    <div class="left-nav">
                        <a th:href="@{/member/video/my-page}"><div
                                class="left-nav-menu"
                                style="border-bottom: 3px solid white"
                            >
                                영상
                            </div></a>
                        <a><div class="left-nav-menu">글</div></a>
                    </div>
                </div>
            </section>
        </header>
    </body>
<!--    <script src="/js/member/video-header.js"></script>-->
</html>
