<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.ggumteo.mapper.admin.AdminMapper">
    <!-- 인증번호 생성 -->
    <insert id="insert">
        insert into tbl_admin (admin_verify_code)
        values (#{adminVerifyCode})
    </insert>

    <!-- 인증번호 조회 -->
    <select id="selectAdminVerifyCode" resultType="AdminVO">
        select id, admin_verify_code
        from tbl_admin
        where admin_verify_code = #{adminVerifyCode}
    </select>

    <!--회원조회-->
    <select id="selectMembers" resultType="MemberProfileDTO">
        SELECT
            m.id AS memberId,
            m.member_email AS memberEmail,
            m.member_status AS memberStatus,
            p.profile_name AS profileName,
            p.created_date AS createdDate,
            p.profile_phone AS profilePhone,
            p.profile_age AS profileAge,
            p.profile_gender AS profileGender,
            p.profile_email AS profileEmail
        FROM
            tbl_member m
                JOIN
            tbl_member_profile p ON m.id = p.member_id
    </select>

</mapper>