<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.ggumteo.mapper.admin.AnnouncementMapper">
    <!--공지사항 작성-->
    <insert id="insert">
        insert into tbl_announcement(announcement_title, announcement_content)
        values (#{announcementTitle}, #{announcementContent})
    </insert>

    <!-- 공지사항 조회 (페이지네이션 포함, 날짜필터, 검색 추가) -->
    <select id="selectAll" resultType="AnnouncementVO">
        select *
        from tbl_announcement
        where (#{search} is null or #{search} = ''
        or announcement_title like concat('%', #{search}, '%')
        or announcement_content like concat('%', #{search}, '%')
        or cast(id as char) like concat('%', #{search}, '%'))
        ORDER BY
        <choose>
            <when test="order == 'createdDate'">
                created_date desc
            </when>
            <when test="order == 'updatedDate'">
                coalesce(updated_date, created_date) desc
            </when>
            <otherwise>
                created_date desc
            </otherwise>
        </choose>
        limit #{pagination.startRow}, #{pagination.rowCount}
    </select>

    <!-- 총 공지사항 수 조회 (검색어 포함) -->
    <select id="countTotal" resultType="int">
        select COUNT(*)
        from tbl_announcement
        where (#{search} is null or #{search} = ''
            or announcement_title LIKE concat('%', #{search}, '%')
            or announcement_content LIKE concat('%', #{search}, '%')
            or cast(id as char) like concat('%', #{search}, '%'))
    </select>

    <!-- 공지사항 수정 -->
    <update id="updateAnnouncement">
        update tbl_announcement
        set announcement_title = #{announcement.announcementTitle},
            announcement_content = #{announcement.announcementContent},
            updated_date = current_timestamp
        where id = #{announcement.id}
    </update>

    <!-- 공지사항 삭제 -->
    <delete id="deleteAnnouncements">
        delete from tbl_announcement
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>