<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.ggumteo.mapper.file.AuditionApplicationFileMapper">

    <insert id="insertAuditionApplicationFile" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into tbl_audition_application_file(file_id, audition_application_id)
        values(#{fileId}, #{auditionApplicationId})
    </insert>


</mapper>