<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.ggumteo.mapper.buy.BuyWorkMapper">

    <insert id="insertPurchase">
        insert into tbl_buy_work (member_profile_id, work_id, work_send_status)
        values (#{memberProfileId}, #{workId}, #{workSendStatus})
    </insert>

    <select id="selectByWorkPostId" resultType="buyWorkDTO">
        select bw.id, bw.work_send_status,bw.work_id
             , w.work_price, bw_mp.profile_name, bw_mp.profile_email
        from
            tbl_buy_work bw
                join tbl_work w on bw.work_id = w.id
                join tbl_post p on w.id = p.id and w.id = #{workPostId}
                join tbl_member_profile mp on p.member_profile_id = mp.id
                join tbl_member m on mp.member_id = m.id
                join tbl_member_profile bw_mp on bw.member_profile_id = bw_mp.id
        order by w.id desc
            limit #{mySettingTablePagination.startRow}, #{mySettingTablePagination.rowCount};
    </select>

    <select id="selectCount">
        select count(*) from
            tbl_buy_work bw
                join tbl_work w on bw.work_id = w.id
                join tbl_post p on w.id = p.id and w.id = #{workPostId}
                join tbl_member_profile mp on p.member_profile_id = mp.id
                join tbl_member m on mp.member_id = m.id
                join tbl_member_profile bw_mp on bw.member_profile_id = bw_mp.id
    </select>

    <update id="updateWorkSendStatus">
        update tbl_buy_work
        set work_send_status = #{workSendStatus}
        where id = #{id}
    </update>

    <select id="selectBuyWorkListByMember">
        select bw_mp.member_id, bw.id, bw.work_id, p.post_title, w.genre_type, p.created_date, p.post_content,
               m.profile_img_url, mp.profile_nickname, w.work_price,
              fl.file_name as thumbnailFileName ,fl.file_path as thumbnailFilePath
        from tbl_buy_work bw
                 join tbl_work w on bw.work_id = w.id
                 join tbl_post p on w.id = p.id and p.post_type = #{postType}
                 join tbl_member_profile mp on p.member_profile_id = mp.id
                 join tbl_member m on mp.member_id = m.id
                 join tbl_member_profile bw_mp on bw.member_profile_id = bw_mp.id
                 join tbl_member bw_m on bw_mp.member_id = bw_m.id and bw_m.id = #{memberId}
                 join tbl_file fl on w.thumbnail_file_id = fl.id
        order by w.id desc
            limit #{myWorkAndFundingPagination.startRow}, #{myWorkAndFundingPagination.rowCount};
    </select>

    <select id="selectCountBuyWorkListByMember">
        select count(*) from tbl_buy_work bw
                 join tbl_work w on bw.work_id = w.id
                 join tbl_post p on w.id = p.id and p.post_type = #{postType}
                 join tbl_member_profile mp on p.member_profile_id = mp.id
                 join tbl_member m on mp.member_id = m.id
                 join tbl_member_profile bw_mp on bw.member_profile_id = bw_mp.id
                 join tbl_member bw_m on bw_mp.member_id = bw_m.id and bw_m.id = #{memberId}
    </select>

    <delete id="deleteBuyWorkPost">
        delete
        from tbl_buy_work
        where id = #{id};
-- 내가 구매한 작품 내역 삭제하는 것
    </delete>
</mapper>