<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.ggumteo.mapper.funding.FundingMapper">
    <select id="selectByMemberId" resultType="fundingDTO">
        select f.id, f.genre_type, p.post_title, p.post_content, p.post_type, p.member_profile_id, p.created_date, p.updated_date, mp.profile_nickname, mp.member_id, m.profile_img_url
        from
            tbl_funding f
                join tbl_post p on f.id = p.id
                join tbl_member_profile mp on p.member_profile_id = mp.id
                join tbl_member m on mp.member_id = m.id and m.id = #{memberId}
        order by f.id desc
            limit #{myPagePagination.startRow}, #{myPagePagination.rowCount};
    </select>

    <select id="selectCount">
        select count(*) from tbl_funding f
        join tbl_post p on f.id = p.id
        join tbl_member_profile mp on p.member_profile_id = mp.id
        join tbl_member m on mp.member_id = m.id and m.id = #{memberId};
    </select>

    <select id="selectBuyerByFundingPostId">
        select f.id ,bfp.id, bfp.funding_send_status
             , fp.product_name, fp.product_price
             , bfp_mp .profile_name, bfp_mp .profile_email
        from
            tbl_buy_funding_product bfp
                join tbl_funding_product fp on bfp.funding_product_id = fp.id
                join tbl_funding f on fp.funding_id = f.id and f.id = #{fundingPostId}
                join tbl_post p on f.id = p.id
                join tbl_member_profile mp on p.member_profile_id = mp.id
                join tbl_member m on mp.member_id = m.id
                join tbl_member_profile bfp_mp on bfp.member_profile_id = bfp_mp.id;
    </select>
</mapper>