<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.ggumteo.mapper.funding.FundingMapper">
    <select id="selectByMemberId" resultType="fundingDTO">
        SELECT f.genre_type, f.funding_status, p.post_title, p.post_content, p.post_type, p.created_date, p.updated_date, m.profile_img_url
        FROM
            tbl_funding f
                JOIN tbl_post p ON f.id = p.id
                JOIN tbl_member m ON p.member_id = m.id
        WHERE
            m.id = #{memberId};
    </select>
</mapper>