<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.ggumteo.mapper.inquiry.InquiryMapper">

    <!-- 문의사항 삽입 -->
    <insert id="insertInquiry" parameterType="InquiryDTO">
        INSERT INTO tbl_inquiry (inquiry_status, post_id)
        VALUES (0, #{postId})
    </insert>

</mapper>