<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.ggumteo.mapper.inquiry.InquiryMapper">
    <!-- 문의사항 삽입 -->
    <insert id="insertInquiry" parameterType="PostDTO">
        insert into tbl_post (post_title, post_content, post_type, member_profile_id)
        values (#{postTitle}, #{postContent}, 'INQUIRY', #{memberProfileId})
    </insert>

    <!-- 마지막 삽입된 ID 가져오기 -->
    <select id="getLastInsertId" resultType="Long">
        select LAST_INSERT_ID()
    </select>

    <!-- tbl_inquiry에 삽입 -->
    <insert id="insertInquiryToTblInquiry" parameterType="PostDTO">
        insert into tbl_inquiry (id, inquiry_status)
        values (#{id}, '0')
    </insert>

    <!-- 모든 문의 사항 조회 -->
    <select id="selectInquiryAll" resultType="InquiryDTO">
        select
            p.id as postId,
            p.post_title as postTitle,
            p.post_content as postContent,
            p.created_date as postCreatedDate,
            mp.profile_name as profileName,
            mp.profile_email as profileEmail,
            i.inquiry_status as inquiryStatus,
            aa.created_date as adminAnswerCreatedDate
        from
            tbl_post p
                join
            tbl_member_profile mp on p.member_profile_id = mp.id
                join
            tbl_inquiry i on p.id = i.id
                left join
            tbl_admin_answer aa on i.id = aa.inquiry_id
        where
            p.post_type = 'INQUIRY'
        order by
            p.created_date desc
            LIMIT #{pagination.startRow}, #{pagination.rowCount}
    </select>

    <select id="countInquiries" resultType="int">
        select COUNT(*)
        from tbl_post p
                 join tbl_inquiry i on p.id = i.id
        where p.post_type = 'INQUIRY'
    </select>


</mapper>