<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.ggumteo.mapper.member.MemberProfileMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO tbl_member_profile (
            profile_name, profile_nickname, profile_gender, profile_age,
            profile_email, profile_phone, profile_etc, member_id
        )
        VALUES (
                   #{profileName}, #{profileNickName}, #{profileGender}, #{profileAge},
                   #{profileEmail}, #{profilePhone}, #{profileEtc}, #{memberId}
               )
    </insert>

    <!-- 마이페이지 - 내 정보 조회 -->
    <select id="selectByMemberId" resultType="memberProfileVO">
        select mp.id, mp.profile_name, mp.profile_nickname, mp.profile_gender, mp.profile_age, mp.profile_etc, mp.member_id, mp.created_date, mp.updated_date,
               m.member_status
        from tbl_member_profile mp
                 join tbl_member m on mp.member_id = m.id
            and m.member_status = 'YES' and mp.member_id = #{memberId};
    </select>

    <!-- 마이페이지 - 내 정보 수정 -->
    <update id="updateMemberProfileByMemberId">
        update tbl_member_profile
        set profile_name = #{profileName}, profile_nickname = #{profileNickName}, profile_gender = #{profileGender},
            profile_age = #{profileAge},
            profile_etc = #{profileEtc}
        where member_id = #{memberId}
    </update>
</mapper>
