<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.ggumteo.mapper.member.MemberMapper">
    <insert id="insert" parameterType="memberVO" useGeneratedKeys="true" keyProperty="id">
        <choose>
            <when test="memberEmail != null">
                insert into tbl_member(member_email, profile_img_url, member_status)
                values (#{memberEmail},#{profileImgUrl}, #{memberStatus})
            </when>
        </choose>
    </insert>

    <update id="updateProfileImgUrl">
        UPDATE tbl_member
        SET profile_img_url = #{profileImgUrl}
        WHERE member_email = #{memberEmail}
    </update>

    <select id="selectByMemberEmailForKakao">
        select id, member_email, profile_img_url, created_date, updated_date
        from tbl_member
        where member_email = #{email}
    </select>

    <!-- member_id로 member_profile 정보를 가져오는 쿼리 -->
    <select id="getMemberProfileByMemberId" parameterType="long" resultType="memberProfileDTO">
        SELECT
            id,
            profile_name,
            profile_nickname,
            profile_gender,
            profile_age,
            profile_email,
            profile_phone,
            profile_etc,
            member_id,
            created_date,
            updated_date
        FROM
            tbl_member_profile
        WHERE
            member_id = #{memberId}
    </select>

    <!-- 마이페이지 - 내 정보 조회 -->
    <select id="selectById" resultType="memberVO">
        select mp.profile_name, mp.profile_nickname, mp.profile_gender, mp.profile_age, mp.profile_email,
               mp.profile_phone, mp.profile_etc, mp.member_id, mp.created_date, mp.updated_date,
               m.id, m.member_status
        from tbl_member_profile mp
                 join tbl_member m on mp.member_id = m.id
            and m.member_status = 'YES' and m.id = #{id};
    </select>

    <!--  마이페이지 - 회원 탈퇴   -->
    <update id="softDeleteMember">
        update tbl_member
        set member_status = 'NO'
        where id = #{id};
    </update>



</mapper>
