<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.ggumteo.mapper.post.PostMapper">
    <insert id="insert">
        insert into tbl_post(post_title, post_content, post_type, member_id)
        values(#{postTitle}, #{postContent}, #{postType}, #{memberId})
    </insert>

    <!--문의사항 작성-->
    <insert id="insertInquiry" parameterType="PostVO">
        INSERT INTO tbl_post (post_title, post_content, post_type, member_id, created_date, updated_date)
        VALUES (#{postTitle}, #{postContent}, 'INQUIRY', #{memberId}, NOW(), NOW())
    </insert>

    <!-- 마지막 삽입된 ID를 가져오는 쿼리 -->
    <select id="getLastInsertId" resultType="Long">
        SELECT LAST_INSERT_ID()
    </select>
</mapper>