<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>모집 목록 페이지</title>
        <link
            rel="stylesheet"
            href="/css/audition/video/audition-list.css"
        />
        <link rel="stylesheet" th:href="@{/css/header/logout.css}">
        <link rel="stylesheet" th:href="@{/css/header/login.css}">
        <link rel="stylesheet" th:href="@{/css/footer/footer.css}">
    </head>
    <body>
    <th:block th:if="${isLoggedIn}">
        <div th:replace="~{header-login :: header}"></div>
    </th:block>
    <th:block th:if="${!isLoggedIn}">
        <div th:replace="~{header-logout :: header}"></div>
    </th:block>
        <main>
            <div class="main-header">
                <div class="container">
                    <a class="sub-navigation" href="">
                        <div>작품</div>
                    </a>
                    <a class="sub-navigation" href="">
                        <div>펀딩</div>
                    </a>
                    <a class="sub-navigation" href="">
                        <div>모집</div>
                    </a>
                </div>
            </div>
            <div class="gaia">
                <div class="container audition-list-view">
                    <form
                        id="search-audition-list-form"
                        action=""
                        onsubmit="return false"
                    >
                        <div class="search-header">
                            <div class="page-title subtitle">모집 찾기</div>
                            <div class="text-input-ggumteo icon-right">
                                <div>
                                    <input
                                        type="text"
                                        class="theme-ggumteo search-input"
                                        id="searchKeyword"
                                        placeholder="원하는 작품을 찾아보세요"
                                        th:value="${keyword}"
                                    />
                                    <i class="search-btn" onclick="searchAuditions()">
                                        <img
                                            src="https://www.wishket.com/static/renewal/img/stack/icon-search.png"
                                        />
                                    </i>
                                </div>
                            </div>
                        </div>
                        <div class="search-filter-part"></div>
                        <section class="section-search" id="recruit-info">
                            <div class="header">
                                <h2 class="tit-section">모집정보</h2>
                                <span class="cnt-result">총 <span th:text="${totalSearchAudition}"></span>건</span>
                            </div>
                            <div id="recruit-info-list" main-search="">
                                <div class="content" >
                                    <div class="item-recruit" th:each="audition : ${auditions}">
                                        <div class="area-badge">
                                            <span  th:switch="${audition.auditionField}">
                                            <span class="badge" th:case="'1'">배우</span>
                                            <span class="badge" th:case="'2'">스텝</span>
                                            <span class="badge" th:case="'3'">감독</span>
                                            <span class="badge" th:case="'4'">기타</span>
                                        </span>
                                        </div>
                                        <div class="area-job">
                                            <h2 class="job-tit">
                                                <a
                                                    title=""
                                                    th:href="@{/audition/video/detail/{id}(id=${audition.id})}"
                                                >
                                                    <span th:text="${audition.postTitle}">
                                                    </span>
                                                </a>
                                            </h2>
                                            <div class="job-date">
                                                <span class="date" th:text="'~' +${audition.auditionDeadLine}"
                                                    ></span
                                                >
                                                <button class="sri-btn-xs" th:if="${audition.auditionStatus == '모집중'}">
                                                    <span
                                                        class="sri-btn-immediately"
                                                        th:text="${audition.auditionStatus}"
                                                        ></span
                                                    >
                                                </button>
                                                <button
                                                    class="sri-btn-xs sri-btn-sm"
                                                    th:if="${audition.auditionStatus == '모집완료'}"
                                                >
                                                    <span
                                                        class="sri-btn-immediately btn-gray"
                                                        th:text="${audition.auditionStatus}"
                                                        ></span
                                                    >
                                                </button>
                                            </div>
                                            <div class="job-condition">
                                                <span th:text="${audition.auditionLocation}"></span>
                                                <span th:text="${audition.auditionCareer}"></span>
                                            </div>
                                            <div class="job-sector">
                                                <b style="margin-right: 4px;" th:text="${audition.expectedAmount}"></b>| <b th:text="${audition.auditionPersonnel} + '명'"></b
                                                ><span class="job-day"
                                                       th:text="'등록일' + ${audition.createdDate}"></span
                                                >
                                            </div>
                                        </div>
                                        <div class="area-corp">
                                            <strong class="corp-name">
                                                <div
                                                    href=""
                                                    target="-blank"
                                                    class="track-event data-layer"
                                                    th:text="${audition.profileNickName}">
                                                </div>
                                            </strong>
                                            <span class="corp-affiliate"
                                                  th:text="${audition.profileEmail}"
                                                ></span>
                                        </div>
                                        <div
                                            class="similar-recruit"
                                            style="display: none"
                                        ></div>
                                    </div>
                                    <div class="content-bottom">
                                        <ul class="pagination">
                                            <!-- 이전 버튼 -->
                                            <li th:classappend="${!pagination.prev} ? 'disabled'">
                                                <a href="#recruit-info"
                                                   class="btnPrev page-move track-event"
                                                   th:if="${pagination.prev}"
                                                   th:href="@{/audition/video/list(page=${pagination.startPage - 10}, keyword=${keyword})}">
                                                    이전
                                                </a>
                                                <span th:unless="${pagination.prev}"></span>
                                            </li>

                                            <!-- 페이지 번호 버튼 -->
                                            <li th:each="i : ${#numbers.sequence(pagination.startPage, pagination.endPage)}"
                                                th:class="${pagination.page == i} ? 'page-item active' : 'page-item'">
                                                <a href="#recruit-info"
                                                   class="page page-move track-event"
                                                   th:href="@{/audition/video/list(page=${i}, keyword=${keyword})}"
                                                   th:text="${i}">
                                                </a>
                                            </li>
                                            <!-- 다음 버튼 -->
                                            <li th:classappend="${!pagination.next} ? 'disabled'">
                                                <a href="#recruit-info"
                                                   class="btnNext page-move track-event"
                                                   th:if="${pagination.next}"
                                                   th:href="@{/audition/video/list(page=${pagination.endPage + 1}, keyword=${keyword})}">
                                                    다음
                                                </a>
                                                <span th:unless="${pagination.next}"></span>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                            <div class="recruit-list-media">
                                <div class="recruit-container"></div>
                            </div>
                        </section>
                        <section class="section-search-media">
                            <div id="mediaList">
                            <div class="recruit-container-media" th:each="audition : ${auditions}">
                                <div class="item-recruit">
                                    <div class="area-badge">
                                            <span  th:switch="${audition.auditionField}">
                                            <span class="badge" th:case="'1'">배우</span>
                                            <span class="badge" th:case="'2'">스텝</span>
                                            <span class="badge" th:case="'3'">감독</span>
                                            <span class="badge" th:case="'4'">기타</span>
                                        </span>
                                    </div>
                                    <p class="tit" th:text="${audition.postTitle}">
                                        [역삼역]단편영화 배우 모집합니다.
                                    </p>
                                    <div class="meta">
                                        <span th:text="${audition.auditionLocation}">서울 강남구</span
                                        ><span th:text="${audition.auditionCareer}">경력무관</span>
                                    </div>
                                    <div class="corp client">
                                        <span class="corp_name" th:text="${audition.profileNickName}">홍길동</span>
                                    </div>
                                    <div class="applicant">
                                        <span class="date" th:text="'~' +${audition.auditionDeadLine} + '까지'">~11.01(금)</span>
                                    </div>
                                </div>
                                <button class="sri-btn-xs sri-btn-sm" th:if="${audition.auditionStatus == '모집중'}">
                                                    <span
                                                            class="sri-btn-immediately"
                                                            th:text="${audition.auditionStatus}"
                                                    ></span
                                                    >
                                </button>
                                <button
                                        class="sri-btn-xs sri-btn-sm"
                                        th:if="${audition.auditionStatus == '모집완료'}"
                                >
                                                    <span
                                                            class="sri-btn-immediately btn-gray"
                                                            th:text="${audition.auditionStatus}"
                                                    ></span
                                                    >
                                </button>
                            </div>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </main>
    <footer th:replace="~{footer.html :: footer}"></footer>
    </body>
    <script src="/js/audition/audition-list.js"></script>
    <script src="/js/audition/audition-search-video.js"></script>
    <script th:src="@{/js/header/header-logout.js}"></script>
    <script th:src="@{/js/header/header-login.js}"></script>
    <script th:src="@{/js/header/logout-click.js}"></script>
</html>
